@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<div>
    <h1>Tyler's Book Store</h1>
    <p>Welcome! See the list below to view all books currently available for purchase.</p><br />


    @*
        The purpose of tag helpers: build HTML dynamically

        NEW BOOTSTRAP:
        - "justify-content-xl-center" on the _Layout page to justify the left "filters"
        - "img-fluid" to better format the image
        - "figure-img" to further format the image within each block
        - "btn-primary" to make it look fancy
    *@

    @foreach (var book in Model.Books)
    {
<div class="card card-body">
    <div class="row m-1 p-1">
        <div class="col-3">
            <br />
            <img src="~/img/bookcover.jpg" width="100" class="img-fluid figure-img" />
        </div>

        @* Display the data in columns *@
        <div class="col-4">
            <p>Book Title: <b>@book.Title</b></p>
            <p>Author's Name: <b>@book.AuthorFirstName @book.AuthorMInitial @book.AuthorLastName</b></p>
            <p>Number of Pages: <b>@book.NumPages</b></p>
            <p>Price: <b>$@book.Price</b></p>
        </div>
        <div class="col-3">
            <p>Publisher: <b>@book.Publisher</b></p>
            <p>ISBN: <b>@book.ISBN</b></p>
            <p>Category: <b>@book.Category</b></p>
            <p>Classification: <b>@book.Classification</b></p>
        </div>
        <div class="col-2">
            <br /><br /><br />
            <a asp-action="Confirmation"><input type="button" class="btn btn-primary" value="Purchase" /></a>
        </div>
    </div>
</div>      }
    <br /><br />
</div>

@* Dynamically outputs the page numbers *@
<div page-model="Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
<br /><br /><br />
